.todo-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-left: 10px;
  width: 100%;
  height: 46px;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-gray-1);
  }

  &.is-disappearing {
    opacity: 0;
    translate: 0 -75%;
    transition-duration: calc(var(--transition-duration) * 2);
    pointer-events: none;

    & ~ .todo-item {
      translate: 0 calc((100% + var(--todoListRowGap)) * -1);
      transition-delay: var(--transition-duration);
      transition-duration: var(--transition-duration);
      pointer-events: none;
    }
  }
}

.todo-item__checkbox {
  position: relative;
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid var(--color-gray-4);
  border-radius: 4px;

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16px;
    height: 16px;
    background-image: url("../../icons/icon-check_white.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:checked {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);

    & + .todo-item__label {
      color: var(--color-gray-4);
      text-decoration: line-through;
    }
  }
}

.todo-item__label {
  width: 100%;
  line-height: 1.4;
  color: var(--color-dark-1);
  pointer-events: none;
}

.todo-item__delete-button {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin-left: auto;
  border: none;
  border-radius: inherit;
  background-color: transparent;
  color: var(--color-gray-4);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-1);
  }

  &:active {
    scale: 1.05;
  }

  * {
    pointer-events: none;
  }
}
